.section{
    padding: var(--#{$variable-prefix}section-padding);
    &-xs{
        padding: var(--#{$variable-prefix}section-padding-xs);
    }
    &-sm{
        padding: var(--#{$variable-prefix}section-padding-sm);
    }
    &-md{
        padding: var(--#{$variable-prefix}section-padding);
    }
    &-lg{
        padding: var(--#{$variable-prefix}section-padding-lg);
    }
    &-xl{
        padding: var(--#{$variable-prefix}section-padding-xl);
    }
}