@import "~bootstrap/scss/tooltip";
.sit-canvas{
    &.tooltip{
        position: absolute;
        .tooltip-inner{
            display: flex;
            gap: 2rem;
            text-align: left;
        }
    }
}